.body {
    background-color: #d6ccef;
}


/* ENTIRE CALCULATOR DIV */

.calculator {
    padding: 30px;
    width: 350px;
    height: 800px;
}


/* EACH HALF OF THE CALCULATOR DISPLAY */

.display,
.button-container {
    border-style: solid;
    border-color: #2a2d30;
    border-width: 8px;
}

.display {
    display: flex;
    width: auto;
    height: 80px;
    justify-content: right;
    background-color: #F4AB41;
    border-radius: 25px 25px 0px 0px;
    padding: 15px;
}

.display-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}


/* CONTAINER FOR BUTTONS (DARK GREY DIV) */

.button-container {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    grid-gap: 5px;
    background-color: #555A60;
    border-radius: 0px 0px 25px 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 15px;
    border-top-width: 0px;
}


/* BUTTON STYLES */

.number,
.operator,
.equals,
.clear,
.point,
.percent,
#c {
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    box-shadow: 0px 3px 3px 3px #35393c;
}

.operator {
    background-color: #f4ac4119;
    color: #F4AB41;
    border-color: #555A60;
}

.equals,
.clear,
#c {
    border-color: #dfdfdf;
    background-color: #f4ac4119;
    color: #F4AB41;
    width: 53px;
    height: 53px;
}

.equals {
    grid-column: span 2;
    width: 150px;
}

.number,
.point,
.percent {
    border-color: #555A60;
    background-color: #555A60;
    color: white;
}


/* BUTTON HOVER STATES */

.operator:hover,
.clear:hover,
#c:hover {
    width: 55px;
    height: 55px;
    background-color: #f4ac4138;
}

.number:hover,
.point:hover,
.percent:hover {
    width: 55px;
    height: 55px;
    border-color: #70777f;
    background-color: #70777f;
}

.equals:hover,
.clear:hover,
#c:hover {
    border-color: #ffffff;
}

.equals:hover {
    width: 158px;
    height: 56px;
    background-color: #f4ac4138;
}


/* BUTTON ACTIVE STATES */

.operator:active {
    border-color: #878f98;
}

.number:active,
.operator:active,
.equals:active,
.clear:active,
.point:active,
#c:active,
.percent:active {
    margin-top: 5px;
}

.point:active,
.number:active,
.percent:active {
    border-color: #878f98;
}